# Test Results

| Test | Percentage | Active Backlogs | Expected Output | Actual Output | Passed |
| ---- | ---------- | --------------- | --------------- | ------------- | ------ |
| 1    | 72         | 0               | Eligible        | Eligible      | Yes    |
| 2    | 60         | 0               | Eligible        | Eligible      | Yes    |
| 3    | 59         | 0               | Not Eligible    | Not Eligible  | Yes    |
| 4    | 75         | 1               | Not Eligible    | Not Eligible  | Yes    |
